{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": [
    "plugin:react/recommended",
    "airbnb",
    "plugin:import/typescript",
    "eslint-config-prettier"
  ],
  "globals": {
    "React": "writable"
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": { "jsx": true },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "plugins": ["react", "react-hooks", "@typescript-eslint", "eslint-plugin-prettier"],
  "rules": {
    "import/extensions": ["error", "ignorePackages", { "ts": "never", "tsx": "never" }],
    "import/no-duplicates": "warn",
    "import/no-extraneous-dependencies": "warn",
    "import/order": [
      "warn",
      {
        "groups": [["builtin", "external"], ["internal"], ["parent", "sibling", "index"]],
        "newlines-between": "always",
        "alphabetize": { "order": "asc", "caseInsensitive": true }
      }
    ],
    "import/prefer-default-export": "off",
    "jsx-a11y/label-has-associated-control": "off",
    "max-len": [
      "warn",
      {
        "code": 100,
        "ignoreRegExpLiterals": true,
        "ignoreStrings": true
      }
    ],
    "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": "warn",
    "no-use-before-define": "off",
    "@typescript-eslint/no-use-before-define": "error",
    "react/function-component-definition": [
      "warn",
      {
        "namedComponents": "arrow-function",
        "unnamedComponents": "arrow-function"
      }
    ],
    "react/jsx-filename-extension": ["error", { "extensions": [".tsx"] }],
    "react/jsx-props-no-spreading": ["warn", { "exceptions": ["App", "Component"] }],
    "react/prop-types": "off",
    "react/react-in-jsx-scope": "off",
    "react-hooks/exhaustive-deps": "warn"
  },
  "settings": {
    "import/resolver": "typescript"
  }
}
